@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

/* Home Page */

::-webkit-scrollbar{
    display: none;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #001F3F;
    overflow-y: hidden;
}

nav{
    width: 100;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: rgba(255,255,255,0.3);
    padding-left: 50px;
    padding-right: 50px;
    position: sticky;
    top: 0;
}

nav h2{
    font-family: "Quicksand", system-ui;
    font-weight: 400;
    font-style: normal;
}

ul{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: auto;
}

nav a{
    margin-left: 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

section{
    width: 80%;
    height: 100vh;
    margin: auto;
    padding-top: 3%;
}

section h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 7rem;
    text-align: center;
    margin: 0;
    color: white;
}

@keyframes animate-background {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.name{
    background: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYnBpdHg3bWRjejNrcnN0dzF5cDRkcjM5cnl3dDZrOXptZjU4bjZkMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26ufo4EIIEdB8tX3y/giphy.webp') repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: cover;
    animation: animate-background 5s linear infinite;
}

.greet{
    text-align: left;
    position: relative;
    left: 6%;
    font-size: 2rem;
}

section p{
    width: 90%;
    position: relative;
    left: 6%;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
    margin: 0;
    color: white;
}

.btn_con{
    color: white;
    position: relative;
    left: 6%;
    margin-top: 20px;
}

.colbtn{
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-right: 20px;
}

.git{
    background-image: linear-gradient(to right, violet, indigo);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.linked{
    background-image: linear-gradient(to right, cornflowerblue, lightblue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.res{
    background-image: linear-gradient(to right, red, orange, yellow);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.x{
    background-image: linear-gradient(to right, cornflowerblue, lightblue, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.title{
    margin-top: 15px;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, violet, lightblue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#game{
    display: flex;
    margin-left: 60px;
    margin-top: 10px;
}

.cards{
    font-size: 2rem;
    color: white;
    margin-right: 30px;
    background-color: red;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Skills Page */

.head_title{
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYnBpdHg3bWRjejNrcnN0dzF5cDRkcjM5cnl3dDZrOXptZjU4bjZkMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26ufo4EIIEdB8tX3y/giphy.webp') repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: cover;
    animation: animate-background 5s linear infinite;
}

#skills{
    padding-top: 70px;
}

.skills_con{
    display: flex;
    width: 100%;
}

.skill_name{
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
}

.card ul{
    padding: 0;
}

.card{
    width: 50%;
    color: white;
    background-color: rgba(0,0,0,0.3);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px 20px;
    margin-right: 20px;
    border-radius: 20px;
    z-index: 1;
}

.card ul li{
    width: 60%;
    font-weight: 200;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.card ul li:hover{
    background-color: rgba(255,255,255,0.3);
    border-radius: 20px;
}

.card ul{
    width: 100%;
    display: block;
    margin: 0;
}

.icon{
    width: 15%;
    position: relative;
    top: 2px;
    margin-right: 5px;
}



/* Css for project con */

#projects{
    padding-top: 70px;
}

.proCards_con{
    width: 100%;
    height: 60vh;
    border: solid 2px white;
    border-radius: 20px;
    display: flex;
    overflow-x: scroll;
}

.proCards_con a{
    width: 30%;
}

.proCards{
    width: 30%;
    flex: 0 0 auto;
    height: 53vh;
    background-color: rgba(255,255,255,0.3);
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 10px;
}

.proCards h2{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.proImg{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.skills_inv{
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;
}

.skills_inv img{
    width: 10%;
}

.proCards p{
    font-weight: 200;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    left: 0;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 10px;
}

.pro_links{
    margin-left: 10px;
}

.pro_links a{
    background-color: rgba(255,255,255,0.3);
    padding: 5px 10px;
    border-radius: 30px;
}

.proCards a{
    font-size: 1.2rem;
}