<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addy_Web | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="icon" href="static\img\dev.png">
    {% block css %}{% endblock css %}
</head>
<body>
    <nav>
        <ul class="navbar">
            <a href="/"><li>AddyWeb</li></a>
            <a href="/projects/"><li>Projects</li></a>
            <a href="static\img\Resume.pdf" download="GFG"><li>Resume</li></a>
        </ul>
    </nav>
    {% block body %}{% endblock body %}

    <footer>
        <h4>AddyWeb</h4>
        <ul class="social">
                <a href="https://www.linkedin.com/in/aditya-patil-b5a9b425a/"><i class="fi fi-brands-linkedin brand"></i></a>
                <a href="https://github.com/Dracgamer5643"><i class="fi fi-brands-github brand"></i></a>
                <a href="https://x.com/AdityaPati_04"><i class="fi fi-brands-twitter brand"></i></a>
        </ul>
    </footer>
</body>
{% block script %}{% endblock script %}
</html>